body {
    margin:0;
    padding: 0;
}
div#rec147948380 {padding:0 !important}
a {cursor: pointer !important;}

.download-link {
    font-family: 'Roboto', Arial, sans-serif !important;
    line-height: 1.7 !important;
    font-weight: 400 !important;
    color:#d1810f;
}

.tn-elem__1429531561533720293314 a, .tn-elem__1429532261534750487787 a{ padding:8px 8px; font-weight: bold !important;}
.tn-elem__1429531561533721051953 div.tn-atom, .tn-elem__1429532491533891479302 .tn-atom {color:rgba(0,0,0,0.9) !important;}

#rec148288196 div.tn-atom {
    color: #222222;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.7;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin:8px 0 0 0;
}
#rec148288196 h3.tn-atom {
    color: #222222;
    font-size: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.4;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin:8px 0;
    font-size: 20px;
}

.bw2c {
    filter: grayscale(100%);
    transition: all 0.2s ease-out;
}

.bw2c:hover {
    filter: grayscale(0%);
}



.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: center;
    text-align: left;
    border-top: 1px solid #e9ecef;
}

.table thead th {
    vertical-align: center;
    border-bottom: 2px solid #e9ecef;
}

.table tbody+tbody {
    border-top: 2px solid #e9ecef;
}

.table .table {
    background-color: white;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: center;
    text-align: left;
    border-top: 1px solid #e9ecef;
}

.table thead th {
    vertical-align: center;
    border-bottom: 2px solid #e9ecef;
}

.table tbody+tbody {
    border-top: 2px solid #e9ecef;
}

.table .table {
    background-color: white;
}